spring-study/035-spring-extensible-xml-authoring/src/main/resources/constxiong/user.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns="http://a.b.c/schema/user"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://a.b.c/schema/user">

    <xsd:import namespace="http://www.w3.org/XML/1998/namespace"/>

    <!-- 定义  User 类型 -->
    <xsd:complexType name="User">
        <xsd:attribute name="id" type="xsd:int" use="required"/>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
    </xsd:complexType>

    <!-- 定义 user 元素 -->
    <xsd:element name="user" type="User"/>
</xsd:schema>